.tag_frm {
  border: 1px solid #CCCCCC;
  margin-top: 2px;
  padding: 3px;
}
.TXT10 {
  font-size: 10px;
  line-height: 1.35;
}
.TXT12 {
  font-size: 12px;
  line-height: 1.375;
}
.__tab-tab__ {
  font-size: 12px;
}
.__tab-tab__ a {
  display: inline-block;
  margin: 0 5px -2px 0;
  padding: 3px 5px;
  border: 2px solid #ccc;
  background-color: #eee;
  color: deepPink;
  text-decoration: none;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  line-height: 18px;
}
.__tab-tab__ a:hover {
  background-color: lightyellow;
}
.__tab-tab__ a img {
  vertical-align: top;
  margin-right: 3px;
}
.__tab-tab__ a:hover img {
  opacity: 0.8;
}
.__tab-tab__ a.__tab-selected__ {
  border-bottom-color: white;
  font-weight: bolder;
  background-color: white !important;
}
.__tab-tab__ a.__tab-waiting__ {
  color: slateblue;
}
.__tab-tab__ a.__tab-loading__ {
  color: orange;
}
.__tab-tab__ a.__tab-loaded__ {
  color: black;
}
.__tab-tab__ a.__tab-error__ {
  color: red;
}
.__tab-tab__ a span.__tab-timer__ {
  font-size: 80%;
  margin-left: 3px;
}
.__tab-item__ {
  padding: 10px;
  border: 2px solid #ccc;
}
.__tab-item__.__jp__ > div {
  border: none !important;
  padding: 0 !important;
}
.__tab-item__ > div.tag_frm {
  border: none !important;
}
.__pager__ a.__page-link__ {
  display: inline-block;
  text-align: center;
}
.__pager1__ a.__page-link__ {
  width: 1ch;
}
.__pager10__ a.__page-link__ {
  width: 2ch;
}
.__pager100__ a.__page-link__ {
  width: 3ch;
}
.__pager1000__ a.__page-link__ {
  width: 4ch;
}
a.__disable-page__ {
  color: transparent;
}
a.__highlight-page__ {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}
